@model IEnumerable<AdminEAD.Models.Usuario>

@{
    ViewData["Title"] = "Usuários";
    ViewData["Subtitle"] = "Usuários do Sistema";
}

@section styles{
    <style>
        .load {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 50%;
            left: 45%;
            z-index: 9999;
        }
    </style>
}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Usuários</h6>
    </div>
    <div class="card-body">
        @Html.AntiForgeryToken()
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped" id="index">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Nome)
                        </th>
                        <th>
                            Login
                        </th>
                        <th>
                            Tipo de Usuário
                        </th>
                        <th class="text-center"><em class="fa fa-cog"></em></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nome)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Login)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IdTipoUsuarioNavigation.Nome)
                            </td>
                            <td class="text-center">
                                <a asp-action="Edit" asp-route-id="@item.IdUsuario" title="Editar Informações" class="btn btn-secondary"><em class="fas fa-pen"></em></a>&nbsp;
                                <a href="#" class="btn btn-secondary" title="Bloquear Usuário" id="@Html.DisplayFor(modelItem => item.IdUsuario)" onclick="Desativar(this);"><em class="fas fa-ban"></em></a>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>
@section scripts{
    <script>
        function Desativar(obj) {
            if (confirm("Tem Certeza que Deseja Excluir Esse Usuário?")) {
                $('.load').show();
                //Token de Verificação
                var token = $('input[name="__RequestVerificationToken"]').val();
                var tokenadr = $('form[action="/Usuarios/Delete"] input[name="__RequestVerificationToken"]').val();
                var headers = {};
                var headersadr = {};
                headers['__RequestVerificationToken'] = token;
                headersadr['__RequestVerificationToken'] = tokenadr;

                var url = "/Usuarios/Delete";

                $.ajax({
                    url: url
                    , type: "POST"
                    , datatype: "json"
                    , headers: headersadr
                    , data: { Id: obj.id, __RequestVerificationToken: token }
                    , success: function (data) {
                        if (data == 1) {
                            $('.load').hide();
                            $(obj).parent().parent().remove();
                        }
                        else if (data == 0) {
                            $('.load').hide();
                            alert('Não Foi Possível Excluir, Algo deu Errado!');
                        }
                        else if (data == 2) {
                            $('.load').hide();
                            $(window.document.location).attr('href', '/Account/AcessoNegado');
                        }
                    }
                });
            }
        }
    </script>
}
