@model IEnumerable<AdminEAD.Models.Participacao>

@{
    ViewData["Title"] = "Participacao";
}
@section styles{
    <!-- Custom styles for this page -->
    <link href="~/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Remover Participante no Culto</h6>
    </div>
    <div class="card-body">
        @Html.Raw(ViewBag.AlertMessage)
        <div class="row">
            <div class="col-md-6">
                <h5><b>Culto: </b>@ViewBag.NomeEvento</h5>
            </div>
            <div class="col-md-6">
                <h5><b>Data:</b> @ViewBag.DataEvento</h5>
            </div>
        </div>
        <br />
        <h5 class="text-center"><b>Participantes</b></h5>
        <br />
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover" id="dataTable">
                        <thead>
                            <tr>
                                <td><b>Nome</b></td>
                                <td><b>Telefone</b></td>
                                <td><b>Qtd Adultos</b></td>
                                <td><b>Qtd Crianças</b></td>
                                <td class="text-center"><em class="fas fa-cog"></em></td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Nome</td>
                                    <td>@item.Telefone</td>
                                    <td>@item.QtdAdultos</td>
                                    <td>@item.QtdCriancas</td>
                                    <td class="text-center">
                                        <button type="button" class="btn btn-danger" id="@item.IdParticipacao" onclick="Remove(this);" title="Remover Presença"><em class="fas fa-ban"></em></button>
                                    </td>
                                </tr>

                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <!-- Page level plugins -->
    <script src="~/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/js/demo/datatables-demo.js"></script>
    <script>
        function Remove(obj) {
            var id = obj.id;
            var url = "/Cultos/RemoverPresenca";
            $.ajax({
                url: url
                , async: false
                , type: "POST"
                , datatype: "json"
                , data: { Id: id }
                , success: function (data) {
                    if (data.res == 1) {
                        $(obj).parent().parent().remove();
                        alert(data.msg);
                    }
                    else {
                        alert(data.msg);
                    }
                }
            });
        }
    </script>
}
