@model IEnumerable<AdminEAD.Models.Culto>

@{
    ViewData["Title"] = "Cultos";
}
@section styles{
    <!-- Custom styles for this page -->
    <link href="~/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Cultos - Escolha um culto para gerar a lista de presença</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered table-hover" id="dataTable">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Nome)
                        </th>
                        <th>
                            Data e Hora
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Preletor)
                        </th>
                        <th>
                            Igreja
                        </th>
                        <th class="text-center"><em class="fas fa fa-cog"></em></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nome)
                            </td>
                            <td>
                                @item.DataHora.ToString("dd/MM/yyyy HH:mm")
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Preletor)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IdIgrejaNavigation.Nome)
                            </td>
                            <td class="text-center">
                                <a href="/Participacao/Print/@item.IdCulto" target="_blank" class="btn btn-secondary" title="Lista de Presença"><em class="fas fa-print"></em></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@section scripts{
    <!-- Page level plugins -->
    <script src="~/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/js/demo/datatables-demo.js"></script>
}

