@model AdminEAD.Models.Participacao

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Participacao</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChaveApp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChaveApp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QtdCriancas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QtdCriancas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QtdAdultos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QtdAdultos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCultoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCultoNavigation.Nome)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdParticipacao">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
